<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Подключение CSS файла -->
</head>
<body>
    <h1>Welcome to Injury Tracker</h1>
    <br>
    <!-- <p>Injury Tracker is an innovative platform designed to help users monitor and manage their recovery from injuries. 
        With features for tracking symptoms, setting recovery goals, and accessing valuable resources, 
        our application supports users on their journey to better health.</p>
    <br>

    <img src="{{ url_for('static', filename='img/lineChart.png') }}" alt="Chart" style="max-width: 40%; height: auto;"> -->

    <br>
    <br>
    <div class="button-container">
        <a href="{{ url_for('register') }}" class="button register-button">Register</a>
        <a href="{{ url_for('auth.login') }}" class="button login-button">Login</a>
    </div>
    <footer>
        <p>&copy; 2024 Injury Tracker. All rights reserved.</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>