<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Травмы</title>
</head>
<body>
    <form action="/register_user" method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username" required><br><br>
    
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required><br><br>
    
        <button type="submit">Зарегистрироваться</button>
    </form>


    <h1>Введите информацию о травме:</h1>
    <form action="/submit" method="POST">
        <label for="injury_type">Выберите травму:</label>
        <select name="injury_type" id="injury_type">
            {% for injury in injuries %}
                <option value="{{ injury }}">{{ injury }}</option>
            {% endfor %}
        </select>

        <label for="age">Возраст:</label>
        <input type="number" name="age" id="age" min="1" max="100" required><br><br>
    
        <label for="fitness_level">Уровень физической подготовки:</label>
        <select name="fitness_level" id="fitness_level" required>
            <option value="low">Низкий</option>
            <option value="medium">Средний</option>
            <option value="high">Высокий</option>
        </select><br><br>
    
        <button type="submit">Получить рекомендации</button>
    </form>
    
     <br>
    <a href="/progress">Записать прогресс восстановления</a>

</body>
</html>
