<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/bmi">BMI</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/progress">Progress</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="profile-container">
            <h2>Welcome, {{ username }}!</h2>

            <div class="profile-row">

                <div class="profile-column">
                    {% if profile_image %}
                        <div class="profile-picture">
                            <img src="{{ url_for('static', filename='uploads/' + profile_image) }}" alt="Profile Picture" class="profile-img">
                        </div>
                    {% else %}
                        <p>No profile picture uploaded.</p>
                    {% endif %}
                    <br><br><br><br>
                    <form action="{{ url_for('upload_profile_image') }}" method="POST" enctype="multipart/form-data">
                        <label for="profile_image" class="custom-file-upload">Choose File</label> <br>
                        <input type="file" name="profile_image" id="profile_image" accept="image/*" required>
                        <button type="submit">Upload Image</button>
                    </form>
                    
                    
                </div>

                <div class="profile-column">
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <form method="POST" action="{{ url_for('change_username') }}">
                        <label for="new_username">New username:</label>
                        <input type="text" id="new_username" name="new_username" required>
                        <button type="submit">Change username</button>
                    </form>
                </div>

                <div class="profile-column">
                    <br><br><br><br><br>
                    <form method="POST" action="{{ url_for('auth.change_password') }}" id="change-password-form">
                        <label for="current_password">Current password:</label>
                        <input type="password" id="current_password" name="current_password" required>
                        <br>
                        <label for="new_password">New Password:</label>
                        <input type="password" id="new_password" name="new_password" required>
                
                        <div id="passwordError" style="color: #c23664; display: none;"></div>
                
                        <button type="submit">Change password</button>
                    </form>
                </div>
                
            </div>
            <br>
            <div class="profile-actions">
                <a href="{{ url_for('logout') }}" class="action-link">Logout</a>
            </div>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
