<form action="/add_progress" method="post">
    <label for="injury">Название травмы:</label>
    <select name="injury" id="injury">
        {% for injury in injuries %}
        <option value="{{ injury[0] }}">{{ injury[1] }}</option>
        {% endfor %}
    </select><br><br>

    <label for="date">Дата:</label>
    <input type="date" name="date" id="date" required><br><br>

    <label for="pain_level">Уровень боли:</label>
    <input type="number" name="pain_level" id="pain_level" min="0" max="10" required><br><br>

    <label for="exercise_completed">Упражнения выполнены:</label>
    <input type="radio" name="exercise_completed" value="1"> Да
    <input type="radio" name="exercise_completed" value="0"> Нет<br><br>

    <button type="submit">Добавить прогресс</button>
    <a href="/chart">Записать прогресс восстановления</a>
</form>
