<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}"> 
    <title>Registration</title>
</head>
<body>
    <div class="container">
        <h1>Registration</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-data" data-messages='{{ messages | tojson | safe }}' style="display: none;"></div>
            {% endif %}
        {% endwith %}

        <form method="POST" id="register-form">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <div id="username-error" class="error-message"></div> 

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <div id="password-error" class="error-message"></div> 

            <input type="submit" value="Register" class="small-button">
        </form>

        <a href="{{ url_for('auth.login') }}">Already have an account? Log in</a>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
